:root {
    --starbucks--green: #036635;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

section {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    max-height: 90px;
}

button {
    background-color: #fff;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px 0px;
}

button:hover {
    background-color: var(--starbucks--green);
    color: #fff;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
    margin: 10px 0;
}

p {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

/*HEADER STYLE*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-top: 6px solid var(--starbucks--green);
}

.header-container img {
    width: 50px;
    cursor: pointer;
}

.header-container input {
    width: 130px;
    height: 35px;
    padding: 5px;
    background-image: url(./assets/loupe.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    border: 2px solid #b8b8b8;
    outline-color: #828282;
    box-sizing: border-box;
    border-radius: 5px;
}

/*SECTION STYLE*/

.products-highlights {
    width: 100%;
    background-image: url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.photo-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.products-area h1,
.products-area p {
    text-align: center;
}

.photo-products img {
    width: 70px;
    border-radius: 50%;
    border: 4px solid var(--starbucks--green);
}

.mission-comments small {
    font-size: .9rem;
    color: #828282;
}

.bar h1,
.bar p {
    text-align: left;
}

.bar hr {
    width: 30%;
    border-top: 10px solid var(--starbucks--green);
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
}

.mission-comments {
    margin: 0;
    padding: 0;
}

.comments {
    padding: 20px;
}

.photo1 {
    background-image: url(./assets/f3.jpg);
}

.photo2 {
    background-image: url(./assets/f4.jpg);
}

.product-introduction {
    margin: 0;
    padding: 0;
}

.product {
    padding: 20px;
}

.product h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.introducing-bg-img2 {
    background-image: url(./assets/f5.jpg);
}

.photo1,
.photo2,
.introducing-bg-img2 {
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
}