:root {
    --starbucks--green: #036635;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

section {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-height: 90px;
    border-top: 6px solid var(--starbucks--green);
}

button {
    background-color: #ffffff00;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 20px 0px;
}

button:hover {
    background-color: var(--starbucks--green);
    color: #fff;
}

h1 {
    font-size: 3.2rem;
    font-weight: 900;
    margin: 10px 0;
}

p {
    font-size: 1.1rem;
    font-weight: 600;
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}
/*HEADER STYLE*/
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.header-container img {
    width: 50px;
    cursor: pointer;
}

.header-container input {
    width: 130px;
    height: 35px;
    padding: 5px;
    background-image: url(./assets/loupe.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 5px center;
    border: 2px solid #b8b8b8;
    outline-color: #828282;
    box-sizing: border-box;
    border-radius: 5px;
}

/*SECTION STYLE CONTAINER*/



.products-area h1,
.products-area p {
    text-align: center;
}

.photo-products img {
    width: 70px;
    border-radius: 50%;
    border: 4px solid var(--starbucks--green);
}

.mission-comments small {
    font-size: .9rem;
    color: #828282;
}

.bar h1,
.bar p {
    text-align: left;
}

.bar hr {
    width: 30%;
    border-top: 10px solid var(--starbucks--green);
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
}

.mission-comments {
    margin: 0;
    padding: 0;
}

.product {
    padding: 20px;
}

.section-frappuccino {
    margin: 0;
    padding: 0;
}

.frappucciono-container {
    padding: 20px;
}

/*IMAGES STYLE*/
.products-highlights {
    width: 100%;
    background-image: url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.photo-products,
.collection,
.frappucciono-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.comments {
    padding: 20px;
}

.product-introduction {
    margin: 0;
    padding: 0;
}

.photo1 {
    background-image: url(./assets/f1.jpg);
}

.photo2 {
    background-image: url(./assets/f2.jpg);
}

.introducing-bg-img {
    background-image: url(./assets/f3.jpg);
}
.introducing-bg-img2 {
    background-image: url(./assets/f4.jpg);
}
.frappucciono-info {
    background-image: url(./assets/bg2.jpg);
}

.frappuccino {
    background-image: url(./assets/f5.jpg);
}

.collection {
    justify-content: space-between;
    background-image: url(./assets/bg3.jpg);
    background-position: end;
    height: 60vh;
}
/*bg para colocar todas as imagens de fundo mais padrão*/
.bg {
    width: 100vw;
    height: 50vh;
    background-position: center;
    background-size: cover;
}


.product h1 {
    font-size: 2.8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

@media (min-width:700px){
    header{
        width: 100%;
        margin: auto;
        border-top: 6px solid var(--starbucks--green);
    }
        .header-container{
            width: 600px;
            margin: auto;
        }
        .header-container img {
            width: 70px;
        }
        .header-container input{
            width: 250px;
            height: 50px;
            font-size: 1.8rem;
            background-position: right 10px center;
        }

    h1 {
        font-size: 4rem;
    }
    p{
        font-size: 1.6rem;
    }
    .photo-products{
        flex-direction: row;
        gap: 40px;
        margin: 40px;
    }
        .photo-products img{
            width: 100px;
        }
    .mission-comments {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
    .comments{
        grid-area: 1;
        grid-row: 1;
    }
    .photo1 {
        grid-column: 2;
        grid-row: 1;
    }
    .photo2 {
        grid-column: 1;
        grid-row: 2;
    }
}
